body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.bar_item {
  float: left;
}

.bar_right{
  float: right;
}

.bar_item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.bar_item a:hover {
  background-color: #111;
}
